.current-time-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: flex-start;
    gap: 10px;
}

.current-time {
    font-size: 20pt;
    line-height: 25pt;
    font-weight: bold;
    color: #877995;
    padding: 5px;
    padding-top: 10px;
    margin: 5px;
}

.timetable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    gap: 10px;
}

.timetable-panel {
    border: 1px dotted #877995;
    padding: 20px;
    margin-top: 20px;
    flex: 1 1;
}

.timetable-name {
    font-size: 17pt;
    font-weight: bold;
    color: #877995;
    margin-bottom: 10px;
}

.past div {
    color: #999;
    font-size: 11pt;
}

.future div {
    font-size: 11pt;
}

.timetable-item.current div {
    padding-top: 6px;
    padding-bottom: 3px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    font-size: 11pt;
}

.timetable-content {
    display: table;
}

.timetable-item {
    display: table-row;
}

.timetable-item div {
    display: table-cell;
    padding: 3px;
    white-space: nowrap;
}

.scheduled {
    font-size: 9pt;
}

@media only screen and (max-width: 1024px) {
    .timetable {
        flex-direction: column;
    }

    .current-time-container {
        justify-content: start;
        align-items: start;
    }

    .timetable-panel {
        padding: 10px;
        margin-top: 10px;
    }
}