div {
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    color: #444;
}

body {
    padding: 0px;
    margin: 0px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
    transition: all 1s ease-out;
}

.nav {
    flex: 1 1 0;
    padding: 10px;
    text-decoration: none;
    color: #877995;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #877995;
    border-bottom: 1px solid white;
    white-space: nowrap;
}
.nav:hover {
    border-bottom: 1px dotted #877995;
}
.nav.active {
    border-bottom: 1px solid #877995;
}

.nav-toggle {
    width: 20px;
    background-color: #877995;
    min-height: 20px;
    align-self: stretch;
    color: white
}

.nav-container.hidden * {
    display: none;
}

.nav-container.hidden .nav-toggle {
    display: block;
}