@import "variables";

.nav-header {
  flex: 1 1 0;
  font-size: 20pt;
  font-weight: bold;
  color: @accentColor;
  padding: 5px 20px;
  text-align: center;

  a {
    text-decoration: none;
    color: @accentColor;

    &:hover {
      color: @mainColor;
    }
  }
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
  transition: all 1s ease-out;

  .nav {
    flex: 1 1 0;
    padding: 10px;
    text-decoration: none;
    color: @mainColor;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid @secondaryColor;
    white-space: nowrap;
    border-bottom: 10px solid @mainColor;

    &:hover {
      color: @secondaryColor;
    }

    &.active {
      background-color: @mainColor;
      color: @bgColor;
    }
  }

  .nav-toggle {
    width: 20px;
    background-color: @accentColor;
    min-height: 10px;
    align-self: stretch;
    color: white;
  }

  .nav-menu-button {
    display: none;
    cursor: pointer;
    padding: 14px 16px;
    align-self: center;

    &::before {
      content: "";
      display: block;
      width: 22px;
      height: 2px;
      background: @accentColor;
      box-shadow:
        0 -7px 0 @accentColor,
        0 7px 0 @accentColor;
    }

    &:hover::before {
      background: @mainColor;
      box-shadow:
        0 -7px 0 @mainColor,
        0 7px 0 @mainColor;
    }
  }

  &.hidden {
    * {
      display: none;
    }

    .nav-toggle {
      display: block;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .nav-container:not(.hidden) {
    .nav-menu-button {
      display: block;
      order: 99;
    }

    .nav:not(.active) {
      display: none;
    }

    &.menu-open .nav:not(.active) {
      display: block;
      flex: 0 0 100%;
      border-left: none;
      border-top: 1px solid @secondaryColor;
    }
  }
}








